.logo-header {
	margin-top:25px;
	margin-bottom:25px;
}
.logo {
	font-family: "CodeProLightDemoRegular", "Helvetica", Helvetica, Arial, sans-serif !important;
	font-size:150%;
	font-weight:300;
	text-transform:uppercase;
	font-style:normal;
}

.row {padding: 20 75;}

.statement p {
	text-align:justify;
	max-width:750px;
	margin: 20px auto 20px auto;
}

.instathumb {
	width:100%;
	max-width:614px;
}

.indicates-required {font-size:75%;}